<div class="partial">
  <img src="<%=album.images[0].url%>" alt="Imagen del track" />
  <h2><%=album.name%></h2>
  <form action="/tracks/<%=album.id%>">
    <button type="submit">Trak List</button>
  </form>
</div>
